extends layout

block content
  h1= title
  p Select #{title} you love
  div.interest-container
    div.interest
      h3= surfing.interestName
      img(src=surfing.interestImageSrc)
      p= surfing.interestDescription
    div.interest
      h3= bowling.interestName
      img(src=bowling.interestImageSrc)
      p= bowling.interestDescription
    div.interest
      h3= rafting.interestName
      img(src=rafting.interestImageSrc)
      p= rafting.interestDescription
    div.interest
      h3= skiing.interestName
      img(src=skiing.interestImageSrc)
      p= skiing.interestDescription
    div.interest
      h3= bungee.interestName
      img(src=bungee.interestImageSrc)
      p= bungee.interestDescription
    div.interest
      h3= skydiving.interestName
      img(src=skydiving.interestImageSrc)
      p= skydiving.interestDescription
    div.interest
      h3= foodie.interestName
      img(src=foodie.interestImageSrc)
      p= foodie.interestDescription
    div.interest
      h3= fishing.interestName
      img(src=fishing.interestImageSrc)
      p= fishing.interestDescription
    div.interest
      h3= safari.interestName
      img(src=safari.interestImageSrc)
      p= safari.interestDescription
    script(src='../public/javascripts/.js')