* { box-sizing: border-box; }

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.interest-container { text-align: center; }

.interest {
  width: 20%;
  padding: 3%;
  border: 1px solid black;
  margin-top: 30px;
  margin-right: 13%;
  margin-left: -4px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.interest:hover { cursor: pointer; }
